language: python
python:
- '3.6'
services:
- docker
install:
- sudo apt install librdkafka-dev
- sudo -H make dep
before_script:
- docker-compose -f docker-compose.test.yml up -d
- sleep 210
script:
- PYTHON_PATH=/home/travis/virtualenv/python3.6.3/bin/python python inserter_test.py
- docker-compose -f docker-compose.test.yml down
